[Unit]
Description=uptimeem server
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/uptimeem
Restart=always
User=uptimeem
Group=uptimeem

[Install]
WantedBy=multi-user.target